##############################################
#                                            #
#     Configurações para o agente ssh        #
#                                            #
##############################################
#
# 19/08/14 - Tobias - v 0.1
# 22/08/14 - Tobias - v 0.2 adicionado port forwarding e configuracoes padrao
# 03/04/15 - Tobias - v 0.3 desmembrando em multiplo arquivos
#
# Alguns serviços podem nao suportar uma chave de 2048 bits (e.g. github)
# ssh-keygen -t rsa -b 2048 -C "usuario@host"
# ssh-copy-id -i ~/.ssh/id_rsa-2048.pub host
#
#Host *exemplo
#	HostName nome.do.host
#	Hostname %h.dominio.com.br
#	Port 22
#	User usuario
#	IdentityFile ~/.ssh/id.rsa

# Configurações para todos os hosts
Host *
	ServerAliveInterval 60
	ServerAliveCountMax 60

Host github github.com
	Hostname github.com
	User git
	IdentityFile ~/.ssh/id_rsa-git
	IdentitiesOnly yes

Host bilbo eutobias tobias.ws zefram
	HostName zefram.tobias.ws
	User tobias
	IdentityFile ~/.ssh/id_rsa-2048
	IdentitiesOnly yes

Host picard
	HostName picard.tobias.ws
	User tobias
	IdentityFile ~/.ssh/id_rsa-2048

Host bilbo-atraves-proxy
	# [0]
	HostName bilbo.eutobias.org
	User tobias
	IdentityFile ~/.ssh/id_rsa-2048
	ProxyCommand /usr/local/bin/corkscrew endereco_proxyg porta_proxy %h %p 
	# ssh -L 8080:localhost:80 user@server.at.home -p 443

Host bilbo-http-forward
	# Faz com que conexoes na porta 8080 local sejam encaminhadas para porta
	# 8888 (tinyproxy) no endereço 127.0.0.1 no host bilbo.
	# retorna o erro "-bash: line 1: SSH-2.0-OpenSSH_6.6.1p1: command not found"
	# ao logar, mas funciona
	# ssh -L <local port>:<remote computer>:<remote port> <user>@<remote ip>
	# [1]
	#ProxyCommand ssh -q -L 8080:127.0.0.1:8888 bilbo
	# [2]
	#LocalForward 8080 127.0.0.1:8888
	ProxyCommand ssh -q -f -N -L 8080:127.0.0.1:8888 bilbo

#Host condado
#	HostName condado.tobias.ws
#	Port 22
#	User condado
#	IdentityFile ~/.ssh/id_rsa-2048

#Host gondor
#	# A conexao à este host é feita atraves do condado. Sao efetuados dois logins
#	HostName gondor
#	Port 22
#	User gondor
#	# [3]
#	# ProxyCommand ssh public.example.com nc %h %p
#	# [4]
#	# ProxyCommand  ssh merdely@gateway.hostname.tld nc %h %p 2> /dev/null
#	ProxyCommand ssh -i ~/.ssh/id_rsa-2048 -q -W %h:%p condado@condado.eutobias.org
#	IdentityFile ~/.ssh/id_rsa-2048

Host peregrin
	HostName peregrin
	Port 22
	User root
	ProxyCommand ssh -i ~/.ssh/id_rsa-2048 -q -W %h:%p smaug@smaug.tobias.ws
	IdentityFile ~/.ssh/id_rsa-2048

Host truta
	HostName truta.org
	Port 22
	User senhor_supremo_do_universo
	IdentityFile ~/.ssh/id_rsa-2048

#Host emsl
#	#wiki@emsl.softwarelivre.org
#	HostName 150.164.1.212
#	User emsl


############################
#                          #
#         Referências      #
#                          #
############################
#
# [0] http://daniel.haxx.se/docs/sshproxy.html
# [1] http://ubuntuguide.org/wiki/Using_SSH_to_Port_Forward
# [2] http://nerderati.com/2011/03/17/simplify-your-life-with-an-ssh-config-file/
# [3] http://blog.sanctum.geek.nz/uses-for-ssh-config/
# [4] http://www.undeadly.org/cgi?action=article&sid=20070925181947
#
# man ssh_config
#
# http://security.stackexchange.com/questions/40050/what-is-the-best-practice-separate-ssh-key-per-host-and-user-vs-one-ssh-key-for
# http://security.stackexchange.com/questions/39279/stronger-encryption-for-ssh-keys/39293#39293
# http://martin.kleppmann.com/2013/05/24/improving-security-of-ssh-private-keys.htm
# http://serverfault.com/questions/471753/what-are-best-practices-for-managing-ssh-keys-in-a-teaml
#
# http://www.debianadmin.com/howto-use-ssh-local-and-remote-port-forwarding.html
# http://blog.sensible.io/2014/05/17/ssh-tunnel-local-and-remote-port-forwarding-explained-with-examples.html

#EOF
