
# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.py]
charset = utf-8
indent_style = space
indent_size = 4

# is not possible to define rules for shebang files directly
# https://github.com/editorconfig/editorconfig/issues/239
[*.{sh,zsh}]
# https://google.github.io/styleguide/shellguide.html#s5.1-indentation
indent_style = space
indent_size = 2
