[submodule "others/dircolors-solarized"]
	path = others/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
[submodule "others/gnome-terminal-colors"]
	path = others/gnome-terminal-colors
	url = https://github.com/gnumoksha/gnome-terminal-colors.git
[submodule "others/tomorrow-theme"]
	path = others/tomorrow-theme
	url = https://github.com/chriskempson/tomorrow-theme.git
[submodule "others/base16-xfce4-terminal"]
	path = others/base16-xfce4-terminal
	url = https://github.com/chriskempson/base16-xfce4-terminal.git
[submodule "others/konsole-tomorrow-theme"]
	path = others/konsole-tomorrow-theme
	url = https://github.com/dram/konsole-tomorrow-theme.git
[submodule "shell/zsh/oh-my-zsh"]
	path = shell/zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "others/fonts/powerline"]
	path = others/fonts/powerline
	url = https://github.com/powerline/fonts.git
[submodule "shell/zsh/powerlevel9k"]
	path = shell/zsh/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
