#|
#| ssh config examples
#|

# Auth with user and pass.
Host galadriel.local
	Hostname %h
	User tobias
	IdentityFile ~/.ssh/id_rsa
	IdentitiesOnly yes
	PasswordAuthentication yes
	ChallengeResponseAuthentication yes

Host rabbitmq rabbitmq-fw
	Hostname 1.2.3.4
	User foo
	IdentityFile ~/.ssh/keys/foo
	IdentitiesOnly yes

Host rabbitmq-fw
	LocalForward 15673 localhost:15672
	RequestTTY no
	RemoteCommand bash -c 'echo "Listening on port 15673"; read -r -d '' _'

Host bind-remote-mysql-port-to-local-port
	Hostname mysql.example.com
	User some-user
	LocalForward 3306 localhost:3306
	RequestTTY no
	RemoteCommand bash -c 'echo "Listening on port 3306"; read -r -d '' _'

Host foo.tunnel
	Hostname localhost
	User foo
	Port 9922
	IdentityFile ~/.ssh/foo
	IdentitiesOnly yes
	ProxyCommand ssh -i ~/.ssh/keys/foo -q -W %h:%p foo@foo.bar

# All connections to github.com or gitlab.com will pass through example.com
Host github.com gitlab.com
	Hostname %h
	User git
	IdentityFile ~/.ssh/id_rsa_for_git
	IdentitiesOnly yes
	ProxyCommand ssh -i ~/.ssh/id_rsa_for_ssh -q -W %h:%p -p 53 user@example.com

Host example-proxy-01
	HostName finaldestination.server.org
	User some-user
	IdentityFile ~/.ssh/id_rsa
	ProxyCommand /usr/local/bin/corkscrew proxy_address proxy_port %h %p
	 #ssh -L 8080:localhost:80 user@server.at.home -p 443

# vim: ft=sshconfig
# dotfiles: destination=$HOME/.ssh/config.example
